html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5em;
    min-height: 100vh;
    background-color: #e5e5e5;
}

header, main, footer {
    margin: 0 auto;
    max-width: 80%;
    background-color: #f4f4f4;
}

.wrapper * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo {
    width: 71.31px;
    height: 23.18px;
    font-weight: 500;
}

li.logo a {
    text-decoration: none;
    color: #222;
}