@import "reset";

$size-text: 18px;
$color-text: grey;

div {
 background-color: aquamarine;
 color: $color-text;
 font-size: $size-text;

}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.box {
    width: 300px;
    height: 300px;
    @include position-center();
}