html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5em;
    min-height: 100vh;
    background-color: #e5e5e5;
}

header, main, footer {
    margin: 0 auto;
    max-width: 80%;
    background-color: #f4f4f4;
}

header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 59px;
    padding-bottom: 59px;
    justify-content: space-between;
}

header nav>div {
    list-style: none;
    align-self: baseline;
    color: #222;
}

header>nav div:nth-child(1) a {
    font-weight: 500;
    text-decoration: none;
    color: #222;
    padding-left: 100%;
    flex-basis: 5%;
}

header>nav div:nth-child(2) {
    flex-basis: auto;
    align-self: center;
}

header>nav div:nth-child(3) {
    flex-basis: 5%;
    padding-right: 5%;
}